@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "baloo paaji 2 ", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%238864c1' fill-opacity='0.44' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background: #14213d;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}
header button {
  font: baloo paaji 2;
  padding: 0.5rem 1rem;
  background: #f67722;
  border: 1px solid #f67722;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

header button:hover,
header button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}

label {
  font-weight: bold;
  margin: 0.1rem 0.3rem;
  color: #464646;
}

input {
  font: inherit;
  border: 2px solid #ccc;
  /* border: none; */
  padding: 0.4rem 0.2rem;
  color: #383838;
  border-bottom: 1px solid blue;
}

input:focus {
  outline: none;
  background: #fff1c4;
}

.btn {
  cursor: pointer;
  background: #fbca1f;
  font-family: inherit;
  padding: 0.3em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin: 10px;
}

.btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}
.btn:active {
  /* background: #f67722;
  border-color: #f67722; */
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.btn--passive {
  color: #00329e;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: #aec6f8;
}

.btn--danger {
  background: #d30808;
  color: white;
  font-family: inherit;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.btn--danger:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}
.btn--danger:active {
  /* background: #ff3217;
  border-color: #ff3217; */
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.card {
  font-family: "Baloo Paaji 2", cursive;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.edits,
.editd {
  object-fit: cover;
}

.edit-modal-btn {
  margin-top: 0.5rem;
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card {
  font-family: "Baloo Paaji 2", cursive;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  box-shadow: 3.6px 1.8px 2.7px rgba(0, 0, 0, 0.059),
    9.1px 4.6px 6.9px rgba(0, 0, 0, 0.084),
    18.6px 9.4px 14.2px rgba(0, 0, 0, 0.106),
    38.3px 19.3px 29.2px rgba(0, 0, 0, 0.131),
    105px 53px 80px rgba(0, 0, 0, 0.19);
}

.modal {
  padding: 5px;
  position: absolute;
  z-index: 100;
  width: 40%;
  top: 15vh;
  left: 30%;
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #14213d;
  background: #14213d;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 1rem;
}

.modal__content input:focus {
  outline: 0;
  border-color: #777;
}
/* .modal__content.success input {
  border-color: #2ecc71;
}
.modal__content.error input {
  border-color: #e74c3c;
} */

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.hidden-alert {
  display: none;
}

.visible-alert {
  display: inline;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal .modal__content {
  padding: 1rem;
}

#contact-add {
  /* width: 40%; */
  /* height: 40%; */
  cursor: pointer;
}

.contact-element {
  background-color: #222831;
  /* box-shadow: rgba(0, 0, 0, 0.7); */
  color: white;
  box-shadow: 0 2px 8px rgb(255, 254, 254);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60%;
  margin: 1rem 2rem;
  transition-duration: 400ms;
}

.contact-element:hover {
  transform: translateY(-5px);
}

.edit-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.5rem;
  padding: 5% 0px;
}

.contact-element h2,
.contact-element p {
  /* margin-top: 15px;
  font-size: 1.5em; */
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}

.contact-element h2 {
  /* color: #383838; */
  font-size: 1rem;
  color: #ccc;
  /* margin-bottom: 1rem; */
}

.contact-element p {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 15px;
}

.contact-element h2,
h4 {
  /* color: #383838; */
  margin: 0.5rem;
}

.contact-element__image {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.contact-element__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.contact-element__info {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
}

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
  border-radius: 10px;
  /* background-color: rgba(241, 160, 160, 0.678); */
  /* border: 1px dashed white; */
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

#contact-list {
  padding: 1rem;
  /* width: 100vw; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* max-width: fit-content; */
  height: 100%;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#add-modal .modal__content {
  display: flex;
  flex-direction: column;
}

.status {
  display: flex;
  align-items: center;
  margin: 1rem;
  /* margin: 2rem; */
}

#edit-contact-modal {
  display: none;
}

#edit-contact-modal.visible {
  position: fixed;
  z-index: 100;
  width: 40%;
  top: 20vh;
  left: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
}

@media (max-width: 900px) {
  .modal {
    left: calc(50% - 20rem);
    left: 10%;
    width: 80%;
  }

  #contact-list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .contact-element {
    margin: 0.8rem 0px;
    flex-direction: row;
    justify-content: space-between;
    /* width: 40%; */
    width: calc(100% - 30%);
    height: auto;
  }

  .contact-element__image {
    /* height: 80%; */
    flex-basis: 40%;
    /* width: 50%; */
    width: calc(100% - 10%);
    height: 100%;
  }
  .contact-element__info {
    /* width: 50%; */
    width: calc(100% - 10%);
    height: 100%;
  }
  #edit-contact-modal.visible {
    top: 20%;
    left: 10%;
    width: 80%;
  }
  .edit-box {
    justify-content: space-evenly;
    margin-right: 0.5rem;
  }
  /* #delete-modal {
    height: 20%;
  } */
}

@media (max-width: 600px) {
  .modal {
    left: calc(50% - 20rem);
    left: 10%;
    width: 80%;
  }

  #contact-list {
    width: 100%;
    height: 100%;
  }

  .contact-element {
    width: auto;
    height: 100%;
  }

  .contact-element__image {
    height: 100%;
  }
  #delete-modal {
    height: 20%;
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
